////////////////////////////////////////////////////
// Home

.hero-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../../img/hero-img-01.jpg);
  background-attachment: fixed;
}